{% extends "base.html" %}
{% block content %}


        <div class="row marketing">

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Jobs
                    </div>
                        <table class="table table-condensed table-striped table-hover">
                            <tbody>
                                {% for job in joblist %}
                                    <tr class="active">

                                        <td class="icontd">
                                            {% if job.jobtype == 3 %}
                                                <i class="fa fa-wifi" aria-hidden="true"></i>
                                            {% elif job.jobtype == 5%}
                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                            {% elif job.jobtype == 10 %}
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{job.jobname}}</td>
                                        <td>{{job.jobmsg}}</td>
                                        <td style="width: 20%">

                                            <div class="progress">
                                              {% if job.jobstate == 100 %}

                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ job.jobstate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.jobstate }}%;">
                                              {% elif job.jobstate <= 100 %}

                                                <div class="progress-bar progress-bar-warning progressbar-stripped active" role="progressbar" aria-valuenow="{{ job.jobstate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.jobstate }}%;">

                                              {% endif %}
                                                <span>{{ job.jobstate }}% Complete</span>
                                              </div>
                                            </div>
                                        </td>
                                        <td style = "width: 32px;"><a href="/archive_job/{{ job.jobid}}"><i class="fa fa-archive" aria-hidden="true"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-wifi" aria-hidden="true"></i> ESSIDs
                        <div class="btn-group pull-right">
                            <a data-toggle="modal" data-target="#addEssidModal" class="btn btn-default btn-xs">Add</a>
                        </div>
                    </div>
                        <div class="panel-body" style="padding: 0px; padding-bottom: 0px;">
                            <table class="table table-condensed table-striped table-hover" style="padding: 0px; padding-bottom: 0px; margin: 0px;">
                                <tbody>
                                {% for essid in essids %}
                                    <tr class="active">

                                        <td class="icontd">
                                            <i class="fa fa-wifi" aria-hidden="true"></i>
                                        </td>
                                        <td>{{ essid.name }}</td>
                                        <td><span class="badge pull-right">{{ essid.percent }}%</span><td>
                                        <td style="padding-left: 0px; margin-right: 0px;">

                                            <div class="btn-group pull-right">
                                              <a href="/essid/{{ essid.name }}/process" class="btn btn-info btn-xs" role="button">Process</a>
                                              <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>

                                              </button>
                                              <ul class="dropdown-menu">
                                                <li><a href="#">Start crack</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="/essid/{{ essid.name }}/delete">Remove</a></li>
                                              </ul>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-book" aria-hidden="true"></i> Available dictionaries
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-default btn-xs">Import</a>
                            <a href="#" class="btn btn-default btn-xs">Tools</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        {% for dico in dicos %}

                        <div class="notice notice-success notice-sm">
                            <strong>{{ dico.name }}</strong>
                        </div>

                        {% endfor %}
                    </div>
                    <div class="panel-footer">2048 passwords available</div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-files-o" aria-hidden="true"></i> Capture files
                        <div class="btn-group pull-right">
                            <a data-toggle="modal" data-target="#UploadCapModal"class="btn btn-default btn-xs">Import</a>
                        </div>
                    </div>
                        <div class="panel-body">
                            
                            {% for f in capfiles %}

                            <div class="notice notice-warning notice-sm">
                                <strong>{{ f.name }}</strong>
                                <span class="badge pull-right">{{ f.essids }}</span>
                            </div>

                            {% endfor %}
                        </div>
                </div>
            </div>


{% include "add_essid.html" ignore missing %}
{% include "upload_cap.html" ignore missing %}
{% endblock %}